.idea
build
src/*.egg-info
.cache
.coverage
*.egg-info
.tox
**/__pycache__
**/.ipynb_checkpoints
dist/
**/*.pyc
**.pyc
scratch*.py
.eggs
*.egg
*.iml
docs/build
**/.DS_Store
venv/
*~
.pytest_cache/
*.swp
.docker/
reports
